<!DOCTYPE html>
<html>
  <head>
    <title>Sports?!?!?!?</title>
  </head>

  <body>
      <h1>Yo TEAM! <%= @team_name %> </h1>
      <% @team_data.each do |position, person| %>
      <p><%= position %>: <%= person %> </p>
      <% end %>
  </body>
</html>
